h1{
/*	font-family:"Arial Black", Gadget, sans-serif;*/
	font-family:"Times New Romans", Gadget, sans-serif;
}
body{
	color:black;
	background-color:white;
	left-margin:10px;
	right-margin:10px;
}

.submit{
	border: none;
	color: #428bca;
	border-radius: 15px 15px;
	padding: 10px 10px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.reset{
	background-color: #428bca;
	border: none;
	color: white;
	border-radius: 15px 15px;
	padding: 10px 10px;
	text-decoration: none;
	cursor: pointer;
}


table{
  background-color:rgb(200, 0, 0);
  width:5%;
	border-collapse:collapse;
  border: 1px solid red;
}

  
th,td
{
	border: rgba(224, 119, 70, 1) 1px solid;
	text-align: left;
}
  
th.name{
	width:30%;
}
th.des{
	width:50%;
}
th.export{
	width:20%;
}

.row{
  border-spacing:10px;
  align
}

/* Grid CSS */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 1.2em;
}


.success { color: #5cb85c; }
.danger { color: #d9534f; }
.warning { color: #ff9800; }
.info { color: #2196F3; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.active {
    background-color: #4CAF50;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

