<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
		<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>  
		<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
	</head>
<body>
  
	<h1>{{ h }}</h1>
	<ul>
		<li><a href="/" class="{{ a2 }}">Add User</a></li>
		<li><a href="/existing" class="{{ a3 }}">View Existing</a></li>
		<li style="float:right"><a href="/about">About</a></li>
	</ul>
	{% if error %}
		<div class="alert alert-danger">
	  		<strong>Error!</strong> {{ error }}
		</div>
	{% endif %}
	<hr>
	
  {% if a3=="active" %}
    {% if users[0] %}  
    <div span="right">
    </div>
    <b><big>Current User List :</big></b>
    <br />
    <br />
    <table>
        <tr id="row">
          <th class="name">User Name</th>
          <th class="des">Email</th>
          <th class="export">ACTION</th>
         </tr>
    {% for user in users %}
      <tr>
        <td >{{ user["name"] }}</td>
        <td >{{ user["email"] }}</td>
        <td ><a href="./export?_id={{ user['_id'] }}">EXPORT</a></td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <div class="danger">
        <h4>No Users in the List !!</h4>
      </div>
    {% endif %}
    <hr/>
  {% endif %}
  
  
  {% if a2=="active" %}
  <form action="/action" method="POST">
	<table class="none">
		<tr class="row success">
			<td>
				<h2>Add User</h2>
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
				<input type="text" name="name" placeholder="Username" />
			</td>
		</tr>
		<tr class="row">
			<td class="col-4">
			  <input type="text" name="name" placeholder="Password" />
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
        <input type="text" name="name" placeholder="Re-type password" />
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
        <input type="text" name="name" placeholder="Email" />			
			</td>
		</tr>
		<tr class="row">
			<td>
				  <button type="submit" class="submit">SIGN UP</button>
			</td>
      	<td>
				  <button type="reset" class="reset">CANCEL</button>
			</td>
		</tr>
	</table>
  </form>
  {% endif %}
	<script>

	</script>
</body>
</html>
